@font-face {
  font-family: 'Space Mono';
  src: url('/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('/assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('/assets/fonts/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "main";
@import "links";
@import "weather";
@import "search";
@import "git";